/* General CSS */
body{
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
}

.fixed{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.topBar{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.topImage{
    display: flex;
}

.searchBar{
    display: flex;
    align-self: center;
    border: solid rgb(128, 128, 128);
    align-self: center;
    width: 40%;
}

.searchBar svg{
    padding-left: 10px;
    align-self: center;
}

input{
    padding-left: 20px;
    width: 1000px;
    height: 50px;
    border: none;
}

.options{
    display: flex;
    width: 40;
    justify-content: space-evenly;
}

.options p{
align-self: center;
font-size: 20px;
padding: 5px;
}

.options svg{
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

.login{
    align-self: center;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
}

.signUp{
    background-color: black;
    border: none;
    color: aliceblue;
    align-self: center;
    padding: 12px;
    font-size: 15px;
    margin-left: 10px;
}
/*Monitors */
@media(min-width: 1351px){
    .topBarXL{
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .inputS{
        display: none;
    }
}

/* Laptops */
@media(min-width: 1025px) and (max-width: 1350px)
{
    /* Top Bar CSS */
    .topBarL
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .inputS{
        display: none;
    }
}

/* Ipads */
@media(min-width: 745px) and (max-width: 1024px)
{
    /* Top Bar CSS */
    .topBarM
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 70px;
    }

    .searchBar{
        width: 30%;
    }


    .inputL{
        display: none;
    }

    
    .searchBar svg{
        height: 50%;
        width: 30%;
    }
    
}
/* Small Screen devices inbetween Phones and Ipads */
@media(min-width: 451px) and (max-width:744px)
{

    .leftOptions{
        display: flex;
        align-self: center;
    }
    .topBarS
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .searchBar{
        width: 50%;
    }

    .inputL{
        display: none;
    }

    .inputS{
        width: 100%;
    }

    .options{
        display: none;
    }
}

/* Phones */
@media (min-width: 300px) and (max-width: 450px)
{

    /* Top Bar CSS */
    .topBarS
    {
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .leftOptions{
        margin-left: 2%;
        display: flex;
        align-self: center;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 50px;
    }

   
    .searchBar{
        display: flex;
        width: 40px;
        border: none;
        margin-right: 2%;
    }

    input{
        display: none;
    }

    .options{
        display: none;
    }

}

@media (max-width: 299px)
{

    /* TopBar CSS */
    .topBarXS
    {
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .leftOptions{
        margin-left: 2%;
        display: flex;
        align-self: center;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 50px;
    }

   
    .searchBar{
        display: flex;
        width: 40px;
        border: none;
        margin-right: 2%;
    }
    
    input{
        display: none;
    }

    .options{
        display: none;
    }

    
    
}