/* General CSS */
body{
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
}
/* TopBar CSS */
.fixed{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: white;
}

.topBar{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}

.topImage{
    display: flex;
}

.searchBar{
    display: flex;
    align-self: center;
    border: solid rgb(128, 128, 128);
    align-self: center;
    width: 40%;
}

.searchBar svg{
    padding-left: 10px;
    align-self: center;
}

input{
    padding-left: 20px;
    width: 1000px;
    height: 50px;
    border: none;
}

.options{
    display: flex;
    width: 40;
    justify-content: space-evenly;
}

.options p{
align-self: center;
font-size: 20px;
padding: 5px;
}

.options svg{
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

.login{
    align-self: center;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
}

.signUp{
    background-color: black;
    border: none;
    color: aliceblue;
    align-self: center;
    padding: 12px;
    font-size: 15px;
    margin-left: 10px;
}



/* NavBar CSS */

.navBar{
    margin-top: 0%;
    border-top: solid rgba(107, 106, 106, 0.351);
    background-color: #eeebeb;
    display: flex;
    justify-content: center;
}

.navContent{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.navContent p{
    font-size: 20px;
    font-weight: bold;
}


/* Main Advertisement */

.mainPageContent{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
}


.mainPageContent button{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.leftButton{
    border: none;
    align-self: center;
    margin-left: 15px;
}

.rightButton{
    border: none;
    align-self: center;
    margin-right: 15px;
}

/*Monitors */
@media(min-width: 1351px){

    body{
        margin-left: 20%;
        margin-right: 20%;
    }

    
    .topBarXL{
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .inputS{
        display: none;
    }

    /* Main Ad CSS */
.mainPageContent{
    margin-top: 200px;
}

.mainAdvertisement{

    height: 300px;
    width: 100%;
    background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
    background-size: 100%;
    background-repeat: no-repeat;
}

.leftButton{
    border: none;
    align-self: center;
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.rightButton{
    border: none;
    align-self: center;
    margin-right: 5px;
}

.mainPageContent button{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
}
}

/* Laptops */
@media(min-width: 1100px) and (max-width: 1350px)
{
    /* Top Bar CSS */
    .topBarL
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .inputS{
        display: none;
    }

    /* Main Ad CSS */
.mainPageContent{
    margin-top: 200px;
}

.mainAdvertisement{

    height: 300px;
    width: 100%;
    background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
    background-size: 100%;
    background-repeat: no-repeat;
}

.leftButton{
    border: none;
    align-self: center;
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.rightButton{
    border: none;
    align-self: center;
    margin-right: 5px;
}

.mainPageContent button{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
}
}

/* Ipads */
@media(min-width: 745px) and (max-width: 1099px)
{
    /* Top Bar CSS */
    .topBarM
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .leftOptions{
        display: none;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 70px;
    }

    .searchBar{
        width: 30%;
    }


    .inputL{
        display: none;
    }

    
    .searchBar svg{
        height: 50%;
        width: 30%;
    }
    
    .navBar{
        justify-content: flex-start;
    }

    .navContent{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    
.navContent p{
    font-size: 15px;
    font-weight: bold;
}

/* Main Ad CSS */
.mainPageContent{
    margin-top: 160px;
}

.mainAdvertisement{

    height: 300px;
    width: 100%;
    background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
    background-size: 100%;
    background-repeat: no-repeat;
}

.leftButton{
    border: none;
    align-self: center;
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.rightButton{
    border: none;
    align-self: center;
    margin-right: 5px;
}

.mainPageContent button{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
}

}
/* Small Screen devices inbetween Phones and Ipads */
@media(min-width: 451px) and (max-width:744px)
{

    .leftOptions{
        display: flex;
        align-self: center;
    }
    .topBarS
    {
        display: flex;
        height: 100px;
        justify-content: space-evenly;
    }

    .searchBar{
        width: 50%;
    }

    .inputL{
        display: none;
    }

    .inputS{
        width: 100%;
    }

    .options{
        display: none;
    }

    /* Nav bar CSS */
    .navBar{
        display: none;
    }

    /* Main Ad CSS */
    .mainPageContent{
        margin-top: 100px;
    }

    .mainAdvertisement{
    
        height: 200px;
        width: 100%;
        background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .leftButton{
        border: none;
        align-self: center;
        margin-left: 5px;
        height: 10px;
        width: 10px;
    }
    
    .rightButton{
        border: none;
        align-self: center;
        margin-right: 5px;
    }

    .mainPageContent button{
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 50%;
        color: aliceblue;
    }
}

/* Phones */
@media (min-width: 300px) and (max-width: 450px)
{

    /* Top Bar CSS */
    .topBarS
    {
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .leftOptions{
        margin-left: 2%;
        display: flex;
        align-self: center;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 50px;
    }

   
    .searchBar{
        display: flex;
        width: 40px;
        border: none;
        margin-right: 2%;
    }

    input{
        display: none;
    }

    .options{
        display: none;
    }

    /* Nav Bar CSS */
    .navBar{
        display: none;
    }

    /* Main Ad CSS */
    .mainPageContent{
        margin-top: 100px;
    }

    .mainAdvertisement{
    
        height: 100px;
        width: 100%;
        background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .leftButton{
        border: none;
        align-self: center;
        margin-left: 5px;
        height: 10px;
        width: 10px;
    }
    
    .rightButton{
        border: none;
        align-self: center;
        margin-right: 5px;
    }

    .mainPageContent button{
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50%;
        color: aliceblue;
    }

}

@media (max-width: 299px)
{

    /* TopBar CSS */
    .topBarXS
    {
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .leftOptions{
        margin-left: 2%;
        display: flex;
        align-self: center;
    }

    .topImage{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .topImage img{
        height: 50px;
    }

   
    .searchBar{
        display: flex;
        width: 40px;
        border: none;
        margin-right: 2%;
    }
    
    input{
        display: none;
    }

    .options{
        display: none;
    }

    /* Nav Bar CSS */
    .navBar{
        display: none;
    }
    
    /* Main Ad CSS */
    .mainPageContent{
        margin-top: 100px;
        
    }
    
    .mainAdvertisement{
    
        height: 100px;
        width: 100%;
        background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt4902b2395a59026f/65ddeac84487d0f5103fe9f8/ReferralProgram_Primary_Desktop_copy_(1).jpg?auto=webp&format=pjpg&width=1246&dpr=2&quality=75");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .leftButton{
        border: none;
        align-self: center;
        margin-left: 5px;
        height: 10px;
        width: 10px;
    }
    
    .rightButton{
        border: none;
        align-self: center;
        margin-right: 5px;
    }

    .mainPageContent button{
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50%;
        color: aliceblue;
    }
}